**/node_modules
**/dist
**/dev-dist
**/.husky
**/.vscode
**/.eslintrc.json
**/.eslintignore
**/.prettierrc
**/.prettiergnore
**/.stylelintrc.json
**/.stylelintignore
**/npm-debug.log

**/.env
**/.env.sample

.git
**/.gitignore