# === Frontend ===
EXRATES_API_URL="https://your.exrates.server/"
OIDC_ACCOUNT_URL=https://your.idp.server/any/user/profile/

# === DB ===
DB_NAME=yafm
DB_USER=postgres
DB_PASSWORD=postgres_password

# === Backend ===
DATABASE_URL="postgresql://$DB_USER:$DB_PASSWORD@yafm_postgres:5432/$DB_NAME"

# === OpenID Connect ===
OIDC_ISSUER_BASE_URL=https://your.idp.server/issuer/path
OIDC_CLIENT_ID=your_client_id
OIDC_CLIENT_SECRET=your_client_secret
BASE_URL=http://localhost:5173
OIDC_COOKIE_SECRET=GENERATE_LONG_RANDOM_STRING_FOR_COOKIES
OIDC_GROUP_USER=yafm-user
