VITE_API="https://your.api.server"
VITE_EXRATES_API="https://your.exrates.server/"

# === Keycloak ===
VITE_AUTHORITY=https://sso.example.org/realms/realm_id
VITE_CLIENT_ID=client_id
VITE_ACCOUNT_URL=${VITE_AUTHORITY}/account/
