# === Frontend ===
VITE_EXRATES_API="https://your.exrates.server/"
VITE_ACCOUNT_URL=https://your.idp.server/any/user/profile/

# === Backend ===
DATABASE_URL="mysql://user_name:user_password@123.123.123.123:3306/db_name"

# === OpenID Connect ===
ISSUER_BASE_URL=https://your.idp.server/issuer/path
CLIENT_ID=your_client_id
CLIENT_SECRET=your_client_secret
BASE_URL=http://localhost:5173
SECRET=GENERATE_LONG_RANDOM_STRING_FOR_COOKIES
GROUP_USER=yafm-user
