# === Frontend ===
VITE_FRONTEND_PORT=5173
VITE_API="http://localhost:8080"
VITE_EXRATES_API="https://your.exrates.server/"
VITE_ACCOUNT_URL=https://your.idp.server/any/user/profile/

# === DB ===
DB_NAME=yafm
DB_USER=postgres
DB_PASSWORD=postgres_password

# === Backend ===
BACKEND_PORT=8080
DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@123.123.123.123:5432/$DB_NAME"

# === OpenID Connect ===
ISSUER_BASE_URL=https://your.idp.server/issuer/path
CLIENT_ID=your_client_id
CLIENT_SECRET=your_client_secret
BASE_URL=http://localhost:5173
SECRET=GENERATE_LONG_RANDOM_STRING_FOR_COOKIES
GROUP_USER=yafm-user
