.sm {
  --local-input-font-size: var(--input-font-size-sm);
  --local-input-y-padding: var(--input-y-padding-sm);
}

.md {
  --local-input-font-size: var(--input-font-size-md);
  --local-input-y-padding: var(--input-y-padding-md);
}

.lg {
  --local-input-font-size: var(--input-font-size-lg);
  --local-input-y-padding: var(--input-y-padding-lg);
}

.input {
  width: 100%;
  background-color: unset;
  border: none;
  color: var(--input-color);
  outline: none;
  overflow: hidden;
  padding: var(--local-input-y-padding) var(--input-x-padding);
  font-size: var(--local-input-font-size);
  line-height: var(--text-line-height);
  resize: none;

  &::placeholder {
    color: var(--secondary-color);
    opacity: 0.7;
    cursor: default;
  }

  &:disabled {
    color: var(--secondary-color);

    &::placeholder {
      opacity: 0.4;
    }
  }
}

.TextAreaBase {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--input-bg);
  border: 1px solid var(--input-border-color);
  border-radius: 8px;
  cursor: text;
  transition:
    border-color 0.2s,
    box-shadow 0.2s;

  &:has(.input:focus) {
    border: 1px solid var(--input-focused-border-color);
    box-shadow: 0 0 0 1px var(--input-focused-border-color);
  }

  &:has(.input:disabled) {
    cursor: default;
  }
}

.hasError {
  border: 1px solid var(--input-error-border-color);

  &:has(.input:focus) {
    border: 1px solid var(--input-focused-error-border-color);
    box-shadow: 0 0 0 1px var(--input-focused-error-border-color);
  }
}
