.select {
  &__control {
    background-color: #e5e7eb !important;
    border-radius: 0.375rem !important;
    &--is-focused {
      box-shadow: none !important;
      background-color: #f3f4f6 !important;
      border-color: #4b5563 !important;
    }
  }
  &__option {
    padding: 4px 12px !important;
    &--is-focused {
      background-color: #FDE68A !important;
    }
    &--is-selected {
      background-color: #FBBF24 !important;
      color: #000 !important;
    }
  }
}

.withError {
  .select__control {
    box-shadow: 0 0 0 3px #DC2626a0;
  }
}